@media print {
  a[href^='http']:after {
    content: ' – ' attr(href) '' !important;
    font-size: 1em;
    font-weight: normal;
  }

  a:not([href^='http']):after {
    content: '' !important;
    font-size: 1em;
    font-weight: normal;
  }

  footer {
    display: none !important;
  }

  .item {
    page-break-inside: avoid;
  }

  .download-container {
    display: none;
  }

  .main-wrapper .section-title .fa {
    width: auto;
  }
}

.sidebar-wrapper {
  min-height: 0;
}

.sidebar-wrapper .name {
  font-size: 23px;
}

.sidebar-wrapper .profile {
  width: 180px !important;
  filter: brightness(1.1);
  /*transform: rotate(20deg);*/
}

.main-wrapper ul {
  margin-left: 1.5em;
}

.main-wrapper ul ul {
  list-style-type: disc !important;
  padding-left: 0;
  margin-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.main-wrapper ul li {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.sidebar-wrapper .interests-container {
  padding-right: 0 !important;
}

.footer {
  padding-top: 20px;
}

.main-wrapper .fa-ul {
  margin-left: 1.5em;
}

.sidebar-wrapper .fa-ul {
  margin-left: 1.9em;
}

.sidebar-wrapper .fa-li {
  font-size: 18px;
  margin-top: -2px;
}

.sidebar-wrapper .fa-li i {
  margin-right: 0 !important;
}

.sidebar-wrapper .website .fa-li {
  margin-top: -5px;
}

.main-wrapper .section-title .fa {
  padding-top: 7px;
}

.download-container {
  padding: 20px !important;
}

.download-container i {
  position: relative;
  top: 3px;
  font-size: 25px;
  padding-right: 7px;
  line-height: 25px;
}

.download-container a {
  font-weight: bold;
  text-align: center;
  display: block;
  background: #ee4235;
  font-size: 13px;
  line-height: 30px;
  background-image: -webkit-linear-gradient(top, #ee4235, #5e001b);
  background-image: -moz-linear-gradient(top, #ee4235, #5e001b);
  background-image: -ms-linear-gradient(top, #ee4235, #5e001b);
  background-image: -o-linear-gradient(top, #ee4235, #5e001b);
  background-image: linear-gradient(to bottom, #ee4235, #5e001b);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.download-container a:hover {
  background: #d64c42;
  background-image: -webkit-linear-gradient(top, #d64c42, #5e001b);
  background-image: -moz-linear-gradient(top, #d64c42, #5e001b);
  background-image: -ms-linear-gradient(top, #d64c42, #5e001b);
  background-image: -o-linear-gradient(top, #d64c42, #5e001b);
  background-image: linear-gradient(to bottom, #d64c42, #5e001b);
  text-decoration: none;
}

.sidebar-wrapper .container-block {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidebar-wrapper .co2-neutral {
  text-align: center;
}
